@media (width:2560px) {

    .imagem-fundo {
        height: 100vh;
        width: 100vw;
    }

    .cabecalho .informacoes-hogwarts {
        font-size: 120px;
        text-transform: uppercase;
    
    }
    
    .container {    
        margin-top: 290px;
        
    }

    .container .descricao {
        font-size: 40px;
        gap: 5px;
        margin-top: 80px;
    }

    .botao-trailer {
        width: 260px;
        height: 120px;
        font-size: 25px;
        padding: 10px;

    }
}

@media (max-width:1200px){
    * {
        overflow: hidden;
    }
   
   
    .imagem-fundo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .cabecalho {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px;
        margin: 0 auto;
    }
    
    .container {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        justify-content: center;
    }

    .container .imagem-titulo{
        width: 80%;
    ;

    }
    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao{
        text-align: center;

    }
}

@media (max-width: 500px) {

    body{
        overflow: auto;
        height: 100vh;
        transition: 0.1s;
    
    }
    
    .cabecalho {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 165px;
        
    }

    .container .imagem-titulo {
        height: 80%;
        width: 95%;
    } 




    .container {
     height: 95%;
     flex-wrap: wrap;
     gap: 15px;
     line-height: 1.12;

    }

}